<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <h1>Nessie</h1>
    <p>Welcome to Nessie</p>
  </main>
</body>
</html>
