<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
  <style>
    main .ui.container {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="ui container">
      <h2 class="ui header">Search</h2>
      <div class="centered grid">
        <div class="ui massive icon input">
          <input type="text" placeholder="Search massive...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
