<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/user/dashboard" class="header item">Nessie</a>
    <a href="/user/search" class="header item">Search</a>
    <a href="/logout" class="item">Logout</a>
  </div>
</div>
